<!-- Nosotros | primary-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <img class="img-fluid" src="assets/imagenes/logo.png" alt="">
                    <div class="col-lg-8 text-center">
                        <br><br>
                        <h2 class="text-white mt-0">ACERCA DE NOSOTROS</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">Nuestro restaurante lleva abierto más de 10 años, siempre brindando la mejor experencia culinaria para nuestros clientes. 
                        <br>Restaurante familiar, donde cada semana se ofrecen desayuno, almuerzos, platos a la carta, bebidas, snaks.
                        <br> 
                        <br>
                        <a class="btn btn-light btn-xl" href="#services">MIRA AQUI!</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Fin de Nosotros | primary-->