   <!-- Inicio de la seccion Categorias -->
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="/productos" title="Sopa de Quinoa">
                            <img class="img-fluid" src="assets/imagenes/snacks.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="Piano Roland clásico">Almuerzos</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="#" title="Churrasco de carne">
                            <img class="img-fluid" src="assets/imagenes/churrascoCarne.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Platos a la carta</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="#" title="Helado de sabores - tradicional de Salcedo">
                            <img class="img-fluid" src="assets/imagenes/helado.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Helados de Salcedo, snaks, dulces, bebidas, etc.</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <!-- Fin de la seccion Categorias -->