 <!-- Inicio de la seccion redes sociales -->
    <br>
    <br>
    <section class="page-section bg-primary redes">
         <div class="contenedor text-centro float-contenedor">
            <br><br>
            <h2 class="text-white mt-0">Siguenos en...</h2>
            <hr class="divider divider-light" />
            <ul>
                <li>
                    <a href="#"><img src="https://img.icons8.com/material-outlined/42/ffffff/whatsapp--v1.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluency-systems-filled/48/ffffff/facebook.png"/></a>
                </li>
                <li>
                     <a href="#"><img src="https://img.icons8.com/windows/52/ffffff/instagram-new.png"/></a>
                </li>
            </ul>
        </div>
        <div class="contenedor text-centro float-contenedor">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.6570888390465!2d-78.57270596773678!3d-0.5150951793079559!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x50b867f3f8db5c12!2sSTEAK%20HOUSE%20(RICON%20DEL%20VALLE)!5e0!3m2!1ses!2sec!4v1630377587675!5m2!1ses!2sec" class="img-fluid" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div> 
        <div class="contenedor text-centro float-contenedor">
            <p class="text-white-75 mb-4">Ven visitanos cualquier dia de la semana, estamos antes del peaje de panzaleo(panamericana norte), junto a las rieles del tren.</p>
        </div>
    </section>
    <!-- Fin de la seccion redes sociales -->