<!-- Ofrecemos | section-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">Servicios</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Comida</h3>
                            <p class="text-muted mb-0">Ofrecemos desayunos, almuerzos y platos a la</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Compra online</h3>
                            <p class="text-muted mb-0">Compra nuestros productos desde la red</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Visitanos</h3>
                            <p class="text-muted mb-0">Horario de 7:00 Am - 16:00 pm</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Viveres</h3>
                            <p class="text-muted mb-0">snaks, bebidas, dulces, helados, etc...</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Fin de Ofrecemos | section-->